    </div>
  </div>
</body>

<script>
  // $(window).resize(function(){
  // if ($(.pure-menu-open).css("") == 'none'
  //   .pure-menu  {visibility:hidden};
  //   }
  // });

   $('#my-menu').tendina();

  var t = new Trianglify({y_gradient: "#961E00"});
  var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);
  document.body.setAttribute('style', 'background-image: '+pattern.dataUrl);

    $('input#search').quicksearch('views');
</script>
</script>
</html>

