

<div id="menu">
  <div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading" href="/">THE WORLD</a>
    <ul id="my-menu">
      <li><a href="Africa">AFRICA</a>
        <ul>
          <li><a href="/country/Algeria" id="countries">Algeria</a></li>
          <li><a href="/country/Angola" id="countries">Angola</a></li>
          <li><a href="/country/Benin" id="countries">Benin</a></li>
          <li><a href="/country/Botswana" id="countries">Botswana</a></li>
          <li><a href="/country/Burkina_Faso" id="countries">Burkina Faso</a></li>
          <li><a href="/country/Burundi" id="countries">Burundi</a></li>
          <li><a href="/country/Cameroon" id="countries">Cameroon</a></li>
          <li><a href="/country/Cape_Verde" id="countries">Cape Verde</a></li>
          <li><a href="/country/Central_African_Republic" id="countries">Central African Republic</a></li>
          <li><a href="/country/Chad" id="countries">Chad</a></li>
          <li><a href="/country/Comoros" id="countries">Comoros</a></li>
          <li><a href="/country/Congo" id="countries">Congo</a></li>
          <li><a href="/country/Democratic_Republic_Of_Congo" id="countries">Democratic Republic of Congo</a></li>
          <li><a href="/country/Djibouti" id="countries">Djibouti</a></li>
          <li><a href="/country/Egypt" id="countries">Egypt</a></li>
          <li><a href="/country/Equatorial_Guinea" id="countries">Equatorial Guinea</a></li>
          <li><a href="/country/Eritrea" id="countries">Eritrea</a></li>
          <li><a href="/country/Ethiopia" id="countries">Ethiopia</a></li>
          <li><a href="/country/Gabon" id="countries">Gabon</a></li>
          <li><a href="/country/Gambia" id="countries">Gambia</a></li>
          <li><a href="/country/Ghana" id="countries">Ghana</a></li>
          <li><a href="/country/Guinea" id="countries">Guinea</a></li>
          <li><a href="/country/Guinea_Bissau" id="countries">Guinea-Bissau</a></li>
          <li><a href="/country/Ivory_Coast" id="countries">Ivory Coast</a></li>
          <li><a href="/country/Kenya" id="countries">Kenya</a></li>
          <li><a href="/country/Lesotho" id="countries">Lesotho</a></li>
          <li><a href="/country/Liberia" id="countries">Liberia</a></li>
          <li><a href="/country/Libya" id="countries">Libya</a></li>
          <li><a href="/country/Madagascar" id="countries">Madagascar</a></li>
          <li><a href="/country/Malawi" id="countries">Malawi</a></li>
          <li><a href="/country/Mali" id="countries">Mali</a></li>
          <li><a href="/country/Mauritania" id="countries">Mauritania</a></li>
          <li><a href="/country/Mauritius" id="countries">Mauritius</a></li>
          <li><a href="/country/Morocco" id="countries">Morocco</a></li>
          <li><a href="/country/Mozambique" id="countries">Mozambique</a></li>
          <li><a href="/country/Namibia" id="countries">Namibia</a></li>
          <li><a href="/country/Niger" id="countries">Niger</a></li>
          <li><a href="/country/Nigeria" id="countries">Nigeria</a></li>
          <li><a href="/country/Rwanda" id="countries">Rwanda</a></li>
          <li><a href="/country/Sao_Tome_And_Principe" id="countries">São Tomé and Príncipe</a></li>
          <li><a href="/country/Senegal" id="countries">Senegal</a></li>
          <li><a href="/country/Seychelles" id="countries">Seychelles</a></li>
          <li><a href="/country/Sierra_Leone" id="countries">Sierra Leone</a></li>
          <li><a href="/country/Somalia" id="countries">Somalia</a></li>
          <li><a href="/country/South_Africa" id="countries">South Africa</a></li>
          <li><a href="/country/South_Sudan" id="countries">South Sudan</a></li>
          <li><a href="/country/Sudan" id="countries">Sudan</a></li>
          <li><a href="/country/Swaziland" id="countries">Swaziland</a></li>
          <li><a href="/country/Tanzania" id="countries">Tanzania</a></li>
          <li><a href="/country/Togo" id="countries">Togo</a></li>
          <li><a href="/country/Tunisia" id="countries">Tunisia</a></li>
          <li><a href="/country/Uganda" id="countries">Uganda</a></li>
          <li><a href="/country/Zambia" id="countries">Zambia</a></li>
          <li><a href="/country/Zimbabwe" id="countries">Zimbabwe</a></li>
        </ul>
      </li>
      <li><a href="/country/Asia">ASIA</a>
        <ul>
          <li><a href="/country/Afghanistan" id="countries">Afghanistan</a></li>
          <li><a href="/country/Bahrain" id="countries">Bahrain</a></li>
          <li><a href="/country/Bangladesh" id="countries">Bangladesh</a></li>
          <li><a href="/country/Bhutan" id="countries">Bhutan</a></li>
          <li><a href="/country/Brunei" id="countries">Brunei</a></li>
          <li><a href="/country/Cambodia" id="countries">Cambodia</a></li>
          <li><a href="/country/China" id="countries">China</a></li>
          <li><a href="/country/East_Timor" id="countries">East Timor</a></li>
          <li><a href="/country/India" id="countries">India</a></li>
          <li><a href="/country/Indonesia" id="countries">Indonesia</a></li>
          <li><a href="/country/Iran" id="countries">Iran</a></li>
          <li><a href="/country/Iraq" id="countries">Iraq</a></li>
          <li><a href="/country/Israel" id="countries">Israel</a></li>
          <li><a href="/country/Japan" id="countries">Japan</a></li>
          <li><a href="/country/Jordan" id="countries">Jordan</a></li>
          <li><a href="/country/Kazakhstan" id="countries">Kazakhstan</a></li>
          <li><a href="/country/Kuwait" id="countries">Kuwait</a></li>
          <li><a href="/country/Krygyzstan" id="countries">Krygyzstan</a></li>
          <li><a href="/country/Laos" id="countries">Laos</a></li>
          <li><a href="/country/Lebanon" id="countries">Lebanon</a></li>
          <li><a href="/country/Malaysia" id="countries">Malaysia</a></li>
          <li><a href="/country/Maldives" id="countries">Maldives</a></li>
          <li><a href="/country/Mongolia" id="countries">Mongolia</a></li>
          <li><a href="/country/Myanmar" id="countries">Myanmar</a></li>
          <li><a href="/country/Nepal" id="countries">Nepal</a></li>
          <li><a href="/country/North_Korea" id="countries">North Korea</a></li>
          <li><a href="/country/Oman" id="countries">Oman</a></li>
          <li><a href="/country/Pakistan" id="countries">Pakistan</a></li>
          <li><a href="/country/Phillipines" id="countries">Phillipines</a></li>
          <li><a href="/country/Qatar" id="countries">Qatar</a></li>
          <li><a href="/country/Russia" id="countries">Russia</a></li>
          <li><a href="/country/Saudi_Arabia" id="countries">Saudi Arabia</a></li>
          <li><a href="/country/Singapore" id="countries">Singapore</a></li>
          <li><a href="/country/South_Korea" id="countries">South Korea</a></li>
          <li><a href="/country/Sri_Lanka" id="countries">Sri Lanka</a></li>
          <li><a href="/country/Syria" id="countries">Syria</a></li>
          <li><a href="/country/Taiwan" id="countries">Taiwan</a></li>
          <li><a href="/country/Tajikistan" id="countries">Tajikistan</a></li>
          <li><a href="/country/Thailand" id="countries">Thailand</a></li>
          <li><a href="/country/Turkey" id="countries">Turkey</a></li>
          <li><a href="/country/Turkmenistan" id="countries">Turkmenistan</a></li>
          <li><a href="/country/United_Arab_Emirates" id="countries">United Arab Emirates</a></li>
          <li><a href="/country/Uzbekistan" id="countries">Uzbekistan</a></li>
          <li><a href="/country/Vietnam" id="countries">Vietnam</a></li>
          <li><a href="/country/Yemen" id="countries">Yemen</a></li>
        </ul>
      </li>
      <li><a href="/country/Europe">EUROPE</a>
        <ul>
        <li><a href="/country/Albania" id="countries">Albania</a></li>
        <li><a href="/country/Andorra" id="countries">Andorra</a></li>
        <li><a href="/country/Armenia" id="countries">Armenia</a></li>
        <li><a href="/country/Austria" id="countries">Austria</a></li>
        <li><a href="/country/Azerbaijan" id="countries">Azerbaijan</a></li>
        <li><a href="/country/Belarus" id="countries">Belarus</a></li>
        <li><a href="/country/Belgium" id="countries">Belgium</a></li>
        <li><a href="/country/Bosnia_and_Herzegovina" id="countries">Bosnia & Herzegovina</a></li>
        <li><a href="/country/Bulgaria" id="countries">Bulgaria</a></li>
        <li><a href="/country/Croatia" id="countries">Croatia</a></li>
        <li><a href="/country/Cyprus" id="countries">Cyprus</a></li>
        <li><a href="/country/Czech_Republic" id="countries">Czech Republic</a></li>
        <li><a href="/country/Denmark" id="countries">Denmark</a></li>
        <li><a href="/country/Estonia" id="countries">Estonia</a></li>
        <li><a href="/country/Finland" id="countries">Finland</a></li>
        <li><a href="/country/France" id="countries">France</a></li>
        <li><a href="/country/Georgia" id="countries">Georgia</a></li>
        <li><a href="/country/Germany" id="countries">Germany</a></li>
        <li><a href="/country/Greece" id="countries">Greece</a></li>
        <li><a href="/country/Hungary" id="countries">Hungary</a></li>
        <li><a href="/country/Iceland" id="countries">Iceland</a></li>
        <li><a href="/country/Ireland" id="countries">Ireland</a></li>
        <li><a href="/country/Italy" id="countries">Italy</a></li>
        <li><a href="/country/Kosovo" id="countries">Kosovo</a></li>
        <li><a href="/country/Latvia" id="countries">Latvia</a></li>
        <li><a href="/country/Liechtenstein" id="countries">Liechtenstein</a></li>
        <li><a href="/country/Lithuania" id="countries">Lithuania</a></li>
        <li><a href="/country/Luxembourg" id="countries">Luxembourg</a></li>
        <li><a href="/country/Macedonia" id="countries">Macedonia</a></li>
        <li><a href="/country/Malta" id="countries">Malta</a></li>
        <li><a href="/country/Moldova" id="countries">Moldova</a></li>
        <li><a href="/country/Monaco" id="countries">Monaco</a></li>
        <li><a href="/country/Montenegro" id="countries">Montenegro</a></li>
        <li><a href="/country/Netherlands" id="countries">The Netherlands</a></li>
        <li><a href="/country/Norway" id="countries">Norway</a></li>
        <li><a href="/country/Poland" id="countries">Poland</a></li>
        <li><a href="/country/Portugal" id="countries">Portugal</a></li>
        <li><a href="/country/Romania" id="countries">Romania</a></li>
        <li><a href="/country/Russia" id="countries">Russia</a></li>
        <li><a href="/country/San_Marino" id="countries">San Marino</a></li>
        <li><a href="/country/Serbia" id="countries">Switzerland</a></li>
        <li><a href="/country/Slovakia" id="countries">Slovakia</a></li>
        <li><a href="/country/Slovenia" id="countries">Slovakia</a></li>
        <li><a href="/country/Spain" id="countries">Spain</a></li>
        <li><a href="/country/Sweden" id="countries">Sweden</a></li>
        <li><a href="/country/Switzerland" id="countries">Switzerland</a></li>
        <li><a href="/country/Turkey" id="countries">Turkey</a></li>
        <li><a href="/country/Ukraine" id="countries">Ukraine</a></li>
        <li><a href="/country/United_Kingdom" id="countries">United Kingdom</a></li>
        <li><a href="/country/Vatican_City" id="countries">Vatican City</a></li>
        </ul>
      </li>
      <li><a href="/country/North_America">NORTH AMERICA</a>
        <ul>
          <li><a href="/country/Antigua_and_Barbuda" id="countries">Antigua and Barbuda</a></li>
          <li><a href="/country/Bahamas" id="countries">Bahamas</a></li>
          <li><a href="/country/Barbados" id="countries">Barbados</a></li>
          <li><a href="/country/Belize" id="countries">Belize</a></li>
          <li><a href="/country/Canada" id="countries">Canada</a></li>
          <li><a href="/country/Costa_Rica" id="countries">Costa Rica</a></li>
          <li><a href="/country/Cuba" id="countries">Cuba</a></li>
          <li><a href="/country/Dominica" id="countries">Dominica</a></li>
          <li><a href="/country/Dominican_Republic" id="countries">Dominican Republic</a></li>
          <li><a href="/country/El_Salvador" id="countries">El Salvador</a></li>
          <li><a href="/country/Grenada" id="countries">Grenada</a></li>
          <li><a href="/country/Guatemala" id="countries">Guatemala</a></li>
          <li><a href="/country/Haiti" id="countries">Haiti</a></li>
          <li><a href="/country/Honduras" id="countries">Honduras</a></li>
          <li><a href="/country/Jamaica" id="countries">Jamaica</a></li>
          <li><a href="/country/Mexico" id="countries">Mexico</a></li>
          <li><a href="/country/Nicaragua" id="countries">Nicaragua</a></li>
          <li><a href="/country/Panama" id="countries">Panama</a></li>
          <li><a href="/country/Saint_Kitts_and_Nevis" id="countries">Saint Kitts and Nevis</a></li>
          <li><a href="/country/Saint_Lucia" id="countries">Saint Lucia</a></li>
          <li><a href="/country/Saint_Vincent_and_the_Grenadines" id="countries">Saint Vincent and the Grenadines</a></li>
          <li><a href="/country/Trinidad_and_Tobago" id="countries">Trinidad and Tobago</a></li>
          <li><a href="/country/United_States_of_America" id="countries">United States</a></li>
        </ul>
      </li>
      <li><a href="/country/Oceania">OCEANIA</a>
        <ul>
          <li><a href="/country/Australia" id="countries">Australia</a></li>
          <li><a href="/country/Fiji" id="countries">Fiji</a></li>
          <li><a href="/country/Kiribati" id="countries">Kiribati</a></li>
          <li><a href="/country/Marshall_Islands" id="countries">Marshall Islands</a></li>
          <li><a href="/country/Micronesia" id="countries">Micronesia</a></li>
          <li><a href="/country/Naura" id="countries">Naura</a></li>
          <li><a href="/country/New_Zealand" id="countries">New Zealand</a></li>
          <li><a href="/country/Palau" id="countries">Palau</a></li>
          <li><a href="/country/Papua_New_Guinea" id="countries">Papua New Guinea</a></li>
          <li><a href="/country/Samoa" id="countries">Samoa</a></li>
          <li><a href="/country/Solomon_Islands" id="countries">Solomon Islands</a></li>
          <li><a href="/country/Tonga" id="countries">Tonga</a></li>
          <li><a href="/country/Tuvalu" id="countries">Tuvalu</a></li>
          <li><a href="/country/Vanuatu" id="countries">Vanuatu</a></li>
        </ul>
      </li>
      <li><a href="/country/South_America">SOUTH AMERICA</a>
        <ul>
          <li><a href="/country/Argentina" id="countries">Argentina</a></li>
          <li><a href="/country/Bolivia" id="countries">Bolivia</a></li>
          <li><a href="/country/Brazil" id="countries">Brazil</a></li>
          <li><a href="/country/Chile" id="countries">Chile</a></li>
          <li><a href="/country/Colombia" id="countries">Colombia</a></li>
          <li><a href="/country/Ecuador" id="countries">Ecuador</a></li>
          <li><a href="/country/Guyana" id="countries">Guyana</a></li>
          <li><a href="/country/Paraguay" id="countries">Paraguay</a></li>
          <li><a href="/country/Peru" id="countries">Peru</a></li>
          <li><a href="/country/Suriname" id="countries">Suriname</a></li>
          <li><a href="/country/Uruguay" id="countries">Uruguay</a></li>
          <li><a href="/country/Venezuela" id="countries">Venezuela</a></li>
        </ul>
      </li>
    </ul>
    <ul id ="my_menu" class="bottom_nav_link">
      <li><a href="contact">Contact</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </div>
</div>
