

<div id="menu">
  <div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading" href="/">THE WORLD</a>
    <ul id="my-menu">
      <li><a href="/Africa">AFRICA</a>
        <ul>
          <li><a href="/Africa/Algeria" id="countries">Algeria</a></li>
          <li><a href="/Africa/Angola" id="countries">Angola</a></li>
          <li><a href="/Africa/Benin" id="countries">Benin</a></li>
          <li><a href="/Africa/Botswana" id="countries">Botswana</a></li>
          <li><a href="/Africa/Burkina_Faso" id="countries">Burkina Faso</a></li>
          <li><a href="/Africa/Burundi" id="countries">Burundi</a></li>
          <li><a href="/Africa/Cameroon" id="countries">Cameroon</a></li>
          <li><a href="/Africa/Cape_Verde" id="countries">Cape Verde</a></li>
          <li><a href="/Africa/Central_African_Republic" id="countries">Central African Republic</a></li>
          <li><a href="/Africa/Chad" id="countries">Chad</a></li>
          <li><a href="/Africa/Comoros" id="countries">Comoros</a></li>
          <li><a href="/Africa/Congo" id="countries">Congo</a></li>
          <li><a href="/Africa/Democratic_Republic_Of_Congo" id="countries">Democratic Republic of Congo</a></li>
          <li><a href="/Africa/Djibouti" id="countries">Djibouti</a></li>
          <li><a href="/Africa/Egypt" id="countries">Egypt</a></li>
          <li><a href="/Africa/Equatorial_Guinea" id="countries">Equatorial Guinea</a></li>
          <li><a href="/Africa/Eritrea" id="countries">Eritrea</a></li>
          <li><a href="/Africa/Ethiopia" id="countries">Ethiopia</a></li>
          <li><a href="/Africa/Gabon" id="countries">Gabon</a></li>
          <li><a href="/Africa/Gambia" id="countries">Gambia</a></li>
          <li><a href="/Africa/Ghana" id="countries">Ghana</a></li>
          <li><a href="/Africa/Guinea" id="countries">Guinea</a></li>
          <li><a href="/Africa/Guinea_Bissau" id="countries">Guinea-Bissau</a></li>
          <li><a href="/Africa/Ivory_Coast" id="countries">Ivory Coast</a></li>
          <li><a href="/Africa/Kenya" id="countries">Kenya</a></li>
          <li><a href="/Africa/Lesotho" id="countries">Lesotho</a></li>
          <li><a href="/Africa/Liberia" id="countries">Liberia</a></li>
          <li><a href="/Africa/Libya" id="countries">Libya</a></li>
          <li><a href="/Africa/Madagascar" id="countries">Madagascar</a></li>
          <li><a href="/Africa/Malawi" id="countries">Malawi</a></li>
          <li><a href="/Africa/Mali" id="countries">Mali</a></li>
          <li><a href="/Africa/Mauritania" id="countries">Mauritania</a></li>
          <li><a href="/Africa/Mauritius" id="countries">Mauritius</a></li>
          <li><a href="/Africa/Morocco" id="countries">Morocco</a></li>
          <li><a href="/Africa/Mozambique" id="countries">Mozambique</a></li>
          <li><a href="/Africa/Namibia" id="countries">Namibia</a></li>
          <li><a href="/Africa/Niger" id="countries">Niger</a></li>
          <li><a href="/Africa/Nigeria" id="countries">Nigeria</a></li>
          <li><a href="/Africa/Rwanda" id="countries">Rwanda</a></li>
          <li><a href="/Africa/Sao_Tome_And_Principe" id="countries">São Tomé and Príncipe</a></li>
          <li><a href="/Africa/Senegal" id="countries">Senegal</a></li>
          <li><a href="/Africa/Seychelles" id="countries">Seychelles</a></li>
          <li><a href="/Africa/Sierra_Leone" id="countries">Sierra Leone</a></li>
          <li><a href="/Africa/Somalia" id="countries">Somalia</a></li>
          <li><a href="/Africa/South_Africa" id="countries">South Africa</a></li>
          <li><a href="/Africa/South_Sudan" id="countries">South Sudan</a></li>
          <li><a href="/Africa/Sudan" id="countries">Sudan</a></li>
          <li><a href="/Africa/Swaziland" id="countries">Swaziland</a></li>
          <li><a href="/Africa/Tanzania" id="countries">Tanzania</a></li>
          <li><a href="/Africa/Togo" id="countries">Togo</a></li>
          <li><a href="/Africa/Tunisia" id="countries">Tunisia</a></li>
          <li><a href="/Africa/Uganda" id="countries">Uganda</a></li>
          <li><a href="/Africa/Zambia" id="countries">Zambia</a></li>
          <li><a href="/Africa/Zimbabwe" id="countries">Zimbabwe</a></li>
        </ul>
      </li>
      <li><a href="/Asia">ASIA</a>
        <ul>
          <li><a href="/Asia/Afghanistan" id="countries">Afghanistan</a></li>
          <li><a href="/Asia/Bahrain" id="countries">Bahrain</a></li>
          <li><a href="/Asia/Bangladesh" id="countries">Bangladesh</a></li>
          <li><a href="/Asia/Bhutan" id="countries">Bhutan</a></li>
          <li><a href="/Asia/Brunei" id="countries">Brunei</a></li>
          <li><a href="/Asia/Cambodia" id="countries">Cambodia</a></li>
          <li><a href="/Asia/China" id="countries">China</a></li>
          <li><a href="/Asia/East_Timor" id="countries">East Timor</a></li>
          <li><a href="/Asia/India" id="countries">India</a></li>
          <li><a href="/Asia/Indonesia" id="countries">Indonesia</a></li>
          <li><a href="/Asia/Iran" id="countries">Iran</a></li>
          <li><a href="/Asia/Iraq" id="countries">Iraq</a></li>
          <li><a href="/Asia/Israel" id="countries">Israel</a></li>
          <li><a href="/Asia/Japan" id="countries">Japan</a></li>
          <li><a href="/Asia/Jordan" id="countries">Jordan</a></li>
          <li><a href="/Asia/Kazakhstan" id="countries">Kazakhstan</a></li>
          <li><a href="/Asia/Kuwait" id="countries">Kuwait</a></li>
          <li><a href="/Asia/Krygyzstan" id="countries">Krygyzstan</a></li>
          <li><a href="/Asia/Laos" id="countries">Laos</a></li>
          <li><a href="/Asia/Lebanon" id="countries">Lebanon</a></li>
          <li><a href="/Asia/Malaysia" id="countries">Malaysia</a></li>
          <li><a href="/Asia/Maldives" id="countries">Maldives</a></li>
          <li><a href="/Asia/Mongolia" id="countries">Mongolia</a></li>
          <li><a href="/Asia/Myanmar" id="countries">Myanmar</a></li>
          <li><a href="/Asia/Nepal" id="countries">Nepal</a></li>
          <li><a href="/Asia/North_Korea" id="countries">North Korea</a></li>
          <li><a href="/Asia/Oman" id="countries">Oman</a></li>
          <li><a href="/Asia/Pakistan" id="countries">Pakistan</a></li>
          <li><a href="/Asia/Phillipines" id="countries">Phillipines</a></li>
          <li><a href="/Asia/Qatar" id="countries">Qatar</a></li>
          <li><a href="/Asia/Russia" id="countries">Russia</a></li>
          <li><a href="/Asia/Saudi_Arabia" id="countries">Saudi Arabia</a></li>
          <li><a href="/Asia/Singapore" id="countries">Singapore</a></li>
          <li><a href="/Asia/South_Korea" id="countries">South Korea</a></li>
          <li><a href="/Asia/Sri_Lanka" id="countries">Sri Lanka</a></li>
          <li><a href="/Asia/Syria" id="countries">Syria</a></li>
          <li><a href="/Asia/Taiwan" id="countries">Taiwan</a></li>
          <li><a href="/Asia/Tajikistan" id="countries">Tajikistan</a></li>
          <li><a href="/Asia/Thailand" id="countries">Thailand</a></li>
          <li><a href="/Asia/Turkey" id="countries">Turkey</a></li>
          <li><a href="/Asia/Turkmenistan" id="countries">Turkmenistan</a></li>
          <li><a href="/Asia/United_Arab_Emirates" id="countries">United Arab Emirates</a></li>
          <li><a href="/Asia/Uzbekistan" id="countries">Uzbekistan</a></li>
          <li><a href="/Asia/Vietnam" id="countries">Vietnam</a></li>
          <li><a href="/Asia/Yemen" id="countries">Yemen</a></li>
        </ul>
      </li>
      <li><a href="/Europe">EUROPE</a>
        <ul>
        <li><a href="/Europe/Albania" id="countries">Albania</a></li>
        <li><a href="/Europe/Andorra" id="countries">Andorra</a></li>
        <li><a href="/Europe/Armenia" id="countries">Armenia</a></li>
        <li><a href="/Europe/Austria" id="countries">Austria</a></li>
        <li><a href="/Europe/Azerbaijan" id="countries">Azerbaijan</a></li>
        <li><a href="/Europe/Belarus" id="countries">Belarus</a></li>
        <li><a href="/Europe/Belgium" id="countries">Belgium</a></li>
        <li><a href="/Europe/Bosnia_and_Herzegovina" id="countries">Bosnia & Herzegovina</a></li>
        <li><a href="/Europe/Bulgaria" id="countries">Bulgaria</a></li>
        <li><a href="/Europe/Croatia" id="countries">Croatia</a></li>
        <li><a href="/Europe/Cyprus" id="countries">Cyprus</a></li>
        <li><a href="/Europe/Czech_Republic" id="countries">Czech Republic</a></li>
        <li><a href="/Europe/Denmark" id="countries">Denmark</a></li>
        <li><a href="/Europe/Estonia" id="countries">Estonia</a></li>
        <li><a href="/Europe/Finland" id="countries">Finland</a></li>
        <li><a href="/Europe/France" id="countries">France</a></li>
        <li><a href="/Europe/Georgia" id="countries">Georgia</a></li>
        <li><a href="/Europe/Germany" id="countries">Germany</a></li>
        <li><a href="/Europe/Greece" id="countries">Greece</a></li>
        <li><a href="/Europe/Hungary" id="countries">Hungary</a></li>
        <li><a href="/Europe/Iceland" id="countries">Iceland</a></li>
        <li><a href="/Europe/Ireland" id="countries">Ireland</a></li>
        <li><a href="/Europe/Italy" id="countries">Italy</a></li>
        <li><a href="/Europe/Kosovo" id="countries">Kosovo</a></li>
        <li><a href="/Europe/Latvia" id="countries">Latvia</a></li>
        <li><a href="/Europe/Liechtenstein" id="countries">Liechtenstein</a></li>
        <li><a href="/Europe/Lithuania" id="countries">Lithuania</a></li>
        <li><a href="/Europe/Luxembourg" id="countries">Luxembourg</a></li>
        <li><a href="/Europe/Macedonia" id="countries">Macedonia</a></li>
        <li><a href="/Europe/Malta" id="countries">Malta</a></li>
        <li><a href="/Europe/Moldova" id="countries">Moldova</a></li>
        <li><a href="/Europe/Monaco" id="countries">Monaco</a></li>
        <li><a href="/Europe/Montenegro" id="countries">Montenegro</a></li>
        <li><a href="/Europe/Netherlands" id="countries">The Netherlands</a></li>
        <li><a href="/Europe/Norway" id="countries">Norway</a></li>
        <li><a href="/Europe/Poland" id="countries">Poland</a></li>
        <li><a href="/Europe/Portugal" id="countries">Portugal</a></li>
        <li><a href="/Europe/Romania" id="countries">Romania</a></li>
        <li><a href="/Europe/Russia" id="countries">Russia</a></li>
        <li><a href="/Europe/San_Marino" id="countries">San Marino</a></li>
        <li><a href="/Europe/Serbia" id="countries">Switzerland</a></li>
        <li><a href="/Europe/Slovakia" id="countries">Slovakia</a></li>
        <li><a href="/Europe/Slovenia" id="countries">Slovakia</a></li>
        <li><a href="/Europe/Spain" id="countries">Spain</a></li>
        <li><a href="/Europe/Sweden" id="countries">Sweden</a></li>
        <li><a href="/Europe/Switzerland" id="countries">Switzerland</a></li>
        <li><a href="/Europe/Turkey" id="countries">Turkey</a></li>
        <li><a href="/Europe/Ukraine" id="countries">Ukraine</a></li>
        <li><a href="/Europe/United_Kingdom" id="countries">United Kingdom</a></li>
        <li><a href="/Europe/Vatican_City" id="countries">Vatican City</a></li>
        </ul>
      </li>
      <li><a href="/North_America">NORTH AMERICA</a>
        <ul>
          <li><a href="/North_America/Antigua_and_Barbuda" id="countries">Antigua and Barbuda</a></li>
          <li><a href="/North_America/Bahamas" id="countries">Bahamas</a></li>
          <li><a href="/North_America/Barbados" id="countries">Barbados</a></li>
          <li><a href="/North_America/Belize" id="countries">Belize</a></li>
          <li><a href="/North_America/Canada" id="countries">Canada</a></li>
          <li><a href="/North_America/Costa_Rica" id="countries">Costa Rica</a></li>
          <li><a href="/North_America/Cuba" id="countries">Cuba</a></li>
          <li><a href="/North_America/Dominica" id="countries">Dominica</a></li>
          <li><a href="/North_America/Dominican_Republic" id="countries">Dominican Republic</a></li>
          <li><a href="/North_America/El_Salvador" id="countries">El Salvador</a></li>
          <li><a href="/North_America/Grenada" id="countries">Grenada</a></li>
          <li><a href="/North_America/Guatemala" id="countries">Guatemala</a></li>
          <li><a href="/North_America/Haiti" id="countries">Haiti</a></li>
          <li><a href="/North_America/Honduras" id="countries">Honduras</a></li>
          <li><a href="/North_America/Jamaica" id="countries">Jamaica</a></li>
          <li><a href="/North_America/Mexico" id="countries">Mexico</a></li>
          <li><a href="/North_America/Nicaragua" id="countries">Nicaragua</a></li>
          <li><a href="/North_America/Panama" id="countries">Panama</a></li>
          <li><a href="/North_America/Saint_Kitts_and_Nevis" id="countries">Saint Kitts and Nevis</a></li>
          <li><a href="/North_America/Saint_Lucia" id="countries">Saint Lucia</a></li>
          <li><a href="/North_America/Saint_Vincent_and_the_Grenadines" id="countries">Saint Vincent and the Grenadines</a></li>
          <li><a href="/North_America/Trinidad_and_Tobago" id="countries">Trinidad and Tobago</a></li>
          <li><a href="/North_America/United_States_of_America" id="countries">United States</a></li>
        </ul>
      </li>
      <li><a href="/Oceania">OCEANIA</a>
        <ul>
          <li><a href="/Oceania/Australia" id="countries">Australia</a></li>
          <li><a href="/Oceania/Fiji" id="countries">Fiji</a></li>
          <li><a href="/Oceania/Kiribati" id="countries">Kiribati</a></li>
          <li><a href="/Oceania/Marshall_Islands" id="countries">Marshall Islands</a></li>
          <li><a href="/Oceania/Micronesia" id="countries">Micronesia</a></li>
          <li><a href="/Oceania/Naura" id="countries">Naura</a></li>
          <li><a href="/Oceania/New_Zealand" id="countries">New Zealand</a></li>
          <li><a href="/Oceania/Palau" id="countries">Palau</a></li>
          <li><a href="/Oceania/Papua_New_Guinea" id="countries">Papua New Guinea</a></li>
          <li><a href="/Oceania/Samoa" id="countries">Samoa</a></li>
          <li><a href="/Oceania/Solomon_Islands" id="countries">Solomon Islands</a></li>
          <li><a href="/Oceania/Tonga" id="countries">Tonga</a></li>
          <li><a href="/Oceania/Tuvalu" id="countries">Tuvalu</a></li>
          <li><a href="/Oceania/Vanuatu" id="countries">Vanuatu</a></li>
        </ul>
      </li>
      <li><a href="/South_America">SOUTH AMERICA</a>
        <ul>
          <li><a href="/South_America/Argentina" id="countries">Argentina</a></li>
          <li><a href="/South_America/Bolivia" id="countries">Bolivia</a></li>
          <li><a href="/South_America/Brazil" id="countries">Brazil</a></li>
          <li><a href="/South_America/Chile" id="countries">Chile</a></li>
          <li><a href="/South_America/Colombia" id="countries">Colombia</a></li>
          <li><a href="/South_America/Ecuador" id="countries">Ecuador</a></li>
          <li><a href="/South_America/Guyana" id="countries">Guyana</a></li>
          <li><a href="/South_America/Paraguay" id="countries">Paraguay</a></li>
          <li><a href="/South_America/Peru" id="countries">Peru</a></li>
          <li><a href="/South_America/Suriname" id="countries">Suriname</a></li>
          <li><a href="/South_America/Uruguay" id="countries">Uruguay</a></li>
          <li><a href="/South_America/Venezuela" id="countries">Venezuela</a></li>
        </ul>
      </li>
    </ul>
    <ul id ="my_menu" class="bottom_nav_link">
      <li><a href="contact">Contact</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </div>
</div>
