<div id="layout">

  <div id="menu">
    <div class="pure-menu pure-menu-open">

      <ul id="my-menu">
      <a class="pure-menu-heading" href="/">THE WORLD</a>
        <li><a href="Africa">AFRICA</a>
          <ul>
            <li><a href="Algeria" id="countries">Algeria</a></li>
            <li><a href="Angola" id="countries">Angola</a></li>
            <li><a href="Benin" id="countries">Benin</a></li>
            <li><a href="Botswana" id="countries">Botswana</a></li>
            <li><a href="Burkina" id="countries">Burkina</a></li>
            <li><a href="Burundi" id="countries">Burundi</a></li>
            <li><a href="Cameroon" id="countries">Cameroon</a></li>
            <li><a href="Cape-Verde" id="countries">Cape Verde</a></li>
            <li><a href="Central-African-Republic" id="countries">Central African Republic</a></li>
            <li><a href="Chad" id="countries">Chad</a></li>
            <li><a href="Comoros" id="countries">Comoros</a></li>
            <li><a href="Congo" id="countries">Congo</a></li>
            <li><a href="Democratic-Republic-Of-Congo" id="countries">Democratic Republic of Congo</a></li>
            <li><a href="Djibouti" id="countries">Djibouti</a></li>
            <li><a href="Egypt" id="countries">Egypt</a></li>
            <li><a href="Equatorial-Guinea" id="countries">Equatorial Guinea</a></li>
            <li><a href="Eritrea" id="countries">Eritrea</a></li>
            <li><a href="Ethiopia" id="countries">Ethiopia</a></li>
            <li><a href="Gabon" id="countries">Gabon</a></li>
            <li><a href="Gambia" id="countries">Gambia</a></li>
            <li><a href="Ghana" id="countries">Ghana</a></li>
            <li><a href="Guinea" id="countries">Guinea</a></li>
            <li><a href="Guinea-Bissau" id="countries">Guinea-Bissau</a></li>
            <li><a href="Ivory-Coast" id="countries">Ivory Coast</a></li>
            <li><a href="Kenya" id="countries">Kenya</a></li>
            <li><a href="Lesotho" id="countries">Lesotho</a></li>
            <li><a href="Liberia" id="countries">Liberia</a></li>
            <li><a href="Libya" id="countries">Libya</a></li>
            <li><a href="Madagascar" id="countries">Madagascar</a></li>
            <li><a href="Malawi" id="countries">Malawi</a></li>
            <li><a href="Mali" id="countries">Mali</a></li>
            <li><a href="Mauritania" id="countries">Mauritania</a></li>
            <li><a href="Mauritius" id="countries">Mauritius</a></li>
            <li><a href="Morocco" id="countries">Morocco</a></li>
            <li><a href="Mozambique" id="countries">Mozambique</a></li>
            <li><a href="Namibia" id="countries">Namibia</a></li>
            <li><a href="Niger" id="countries">Niger</a></li>
            <li><a href="Nigeria" id="countries">Nigeria</a></li>
            <li><a href="Rwanda" id="countries">Rwanda</a></li>
            <li><a href="Sao-Tome-And-Principe" id="countries">São Tomé and Príncipe</a></li>
            <li><a href="Senegal" id="countries">Senegal</a></li>
            <li><a href="Seychelles" id="countries">Seychelles</a></li>
            <li><a href="Sierra-Leone" id="countries">Sierra Leone</a></li>
            <li><a href="Somalia" id="countries">Somalia</a></li>
            <li><a href="South-Africa" id="countries">South Africa</a></li>
            <li><a href="South-Sudan" id="countries">South Sudan</a></li>
            <li><a href="Sudan" id="countries">Sudan</a></li>
            <li><a href="Swaziland" id="countries">Swaziland</a></li>
            <li><a href="Tanzania" id="countries">Tanzania</a></li>
            <li><a href="Togo" id="countries">Togo</a></li>
            <li><a href="Tunisia" id="countries">Tunisia</a></li>
            <li><a href="Uganda" id="countries">Uganda</a></li>
            <li><a href="Zambia" id="countries">Zambia</a></li>
            <li><a href="Zimbabwe" id="countries">Zimbabwe</a></li>
          </ul>
        </li>
        <li><a href="Asia">ASIA</a>
          <ul>
            <li><a href="Afghanistan" id="countries">Afghanistan</a></li>
            <li><a href="Bahrain" id="countries">Bahrain</a></li>
            <li><a href="Bangladesh" id="countries">Bangladesh</a></li>
            <li><a href="Bhutan" id="countries">Bhutan</a></li>
            <li><a href="Brunei" id="countries">Brunei</a></li>
            <li><a href="Cambodia" id="countries">Cambodia</a></li>
            <li><a href="China" id="countries">China</a></li>
            <li><a href="East-Timor" id="countries">East Timor</a></li>
            <li><a href="India" id="countries">India</a></li>
            <li><a href="Indonesia" id="countries">Indonesia</a></li>
            <li><a href="Iran" id="countries">Iran</a></li>
            <li><a href="Iraq" id="countries">Iraq</a></li>
            <li><a href="Israel" id="countries">Israel</a></li>
            <li><a href="Japan" id="countries">Japan</a></li>
            <li><a href="Jordan" id="countries">Jordan</a></li>
            <li><a href="Kazakhstan" id="countries">Kazakhstan</a></li>
            <li><a href="Kuwait" id="countries">Kuwait</a></li>
            <li><a href="Krygyzstan" id="countries">Krygyzstan</a></li>
            <li><a href="Laos" id="countries">Laos</a></li>
            <li><a href="Lebanon" id="countries">Lebanon</a></li>
            <li><a href="Malaysia" id="countries">Malaysia</a></li>
            <li><a href="Maldives" id="countries">Maldives</a></li>
            <li><a href="Mongolia" id="countries">Mongolia</a></li>
            <li><a href="Myanmar" id="countries">Myanmar</a></li>
            <li><a href="Nepal" id="countries">Nepal</a></li>
            <li><a href="North-Korea" id="countries">North Korea</a></li>
            <li><a href="Oman" id="countries">Oman</a></li>
            <li><a href="Pakistan" id="countries">Pakistan</a></li>
            <li><a href="Phillipines" id="countries">Phillipines</a></li>
            <li><a href="Qatar" id="countries">Qatar</a></li>
            <li><a href="Russia" id="countries">Russia</a></li>
            <li><a href="Saudi-Arabia" id="countries">Saudi Arabia</a></li>
            <li><a href="Singapore" id="countries">Singapore</a></li>
            <li><a href="South-Korea" id="countries">South Korea</a></li>
            <li><a href="Sri-Lanka" id="countries">Sri Lanka</a></li>
            <li><a href="Syria" id="countries">Syria</a></li>
            <li><a href="Taiwan" id="countries">Taiwan</a></li>
            <li><a href="Tajikistan" id="countries">Tajikistan</a></li>
            <li><a href="Thailand" id="countries">Thailand</a></li>
            <li><a href="Turkey" id="countries">Turkey</a></li>
            <li><a href="Turkmenistan" id="countries">Turkmenistan</a></li>
            <li><a href="United-Arab-Emirates" id="countries">United Arab Emirates</a></li>
            <li><a href="Uzbekistan" id="countries">Uzbekistan</a></li>
            <li><a href="Vietnam" id="countries">Vietnam</a></li>
            <li><a href="Yemen" id="countries">Yemen</a></li>
          </ul>
        </li>
        <li><a href="Europe">EUROPE</a>
          <ul>
          <li><a href="Albania" id="countries">Albania</a></li>
          <li><a href="Andorra" id="countries">Andorra</a></li>
          <li><a href="Armenia" id="countries">Armenia</a></li>
          <li><a href="Austria" id="countries">Austria</a></li>
          <li><a href="Azerbaijan" id="countries">Azerbaijan</a></li>
          <li><a href="Belarus" id="countries">Belarus</a></li>
          <li><a href="Belgium" id="countries">Belgium</a></li>
          <li><a href="Bosnia-Herzegovina" id="countries">Bosnia & Herzegovina</a></li>
          <li><a href="Bulgaria" id="countries">Bulgaria</a></li>
          <li><a href="Croatia" id="countries">Croatia</a></li>
          <li><a href="Cyprus" id="countries">Cyprus</a></li>
          <li><a href="Czech-Republic" id="countries">Czech Republic</a></li>
          <li><a href="Denmark" id="countries">Denmark</a></li>
          <li><a href="Estonia" id="countries">Estonia</a></li>
          <li><a href="Finland" id="countries">Finland</a></li>
          <li><a href="France" id="countries">France</a></li>
          <li><a href="Georgia" id="countries">Georgia</a></li>
          <li><a href="Germany" id="countries">Germany</a></li>
          <li><a href="Greece" id="countries">Greece</a></li>
          <li><a href="Hungary" id="countries">Hungary</a></li>
          <li><a href="Iceland" id="countries">Iceland</a></li>
          <li><a href="Ireland" id="countries">Ireland</a></li>
          <li><a href="Italy" id="countries">Italy</a></li>
          <li><a href="Kosovo" id="countries">Kosovo</a></li>
          <li><a href="Latvia" id="countries">Latvia</a></li>
          <li><a href="Liechtenstein" id="countries">Liechtenstein</a></li>
          <li><a href="Lithuania" id="countries">Lithuania</a></li>
          <li><a href="Luxembourg" id="countries">Luxembourg</a></li>
          <li><a href="Macedonia" id="countries">Macedonia</a></li>
          <li><a href="Malta" id="countries">Malta</a></li>
          <li><a href="Moldova" id="countries">Moldova</a></li>
          <li><a href="Monaco" id="countries">Monaco</a></li>
          <li><a href="Montenegro" id="countries">Montenegro</a></li>
          <li><a href="Netherlands" id="countries">The Netherlands</a></li>
          <li><a href="Norway" id="countries">Norway</a></li>
          <li><a href="Poland" id="countries">Poland</a></li>
          <li><a href="Portugal" id="countries">Portugal</a></li>
          <li><a href="Romania" id="countries">Romania</a></li>
          <li><a href="Russia" id="countries">Russia</a></li>
          <li><a href="San-Marino" id="countries">San Marino</a></li>
          <li><a href="Serbia" id="countries">Switzerland</a></li>
          <li><a href="Slovakia" id="countries">Slovakia</a></li>
          <li><a href="Slovenia" id="countries">Slovakia</a></li>
          <li><a href="Spain" id="countries">Spain</a></li>
          <li><a href="Sweden" id="countries">Sweden</a></li>
          <li><a href="Switzerland" id="countries">Switzerland</a></li>
          <li><a href="Turkey" id="countries">Turkey</a></li>
          <li><a href="Ukraine" id="countries">Ukraine</a></li>
          <li><a href="United-Kingdom" id="countries">United Kingdom</a></li>
          <li><a href="Vatican-City" id="countries">Vatican City</a></li>
          </ul>
        </li>
        <li><a href="North-America">NORTH AMERICA</a>
          <ul>
            <li><a href="Antigua-and-Barbuda" id="countries">Antigua and Barbuda</a></li>
            <li><a href="Bahamas" id="countries">Bahamas</a></li>
            <li><a href="Barbados" id="countries">Barbados</a></li>
            <li><a href="Belize" id="countries">Belize</a></li>
            <li><a href="Canada" id="countries">Canada</a></li>
            <li><a href="Costa-Rica" id="countries">Costa Rica</a></li>
            <li><a href="Cuba" id="countries">Cuba</a></li>
            <li><a href="Dominica" id="countries">Dominica</a></li>
            <li><a href="Dominican-Republic" id="countries">Dominican Republic</a></li>
            <li><a href="El-Salvador" id="countries">El Salvador</a></li>
            <li><a href="Grenada" id="countries">Grenada</a></li>
            <li><a href="Guatemala" id="countries">Guatemala</a></li>
            <li><a href="Haiti" id="countries">Haiti</a></li>
            <li><a href="Honduras" id="countries">Honduras</a></li>
            <li><a href="Jamaica" id="countries">Jamaica</a></li>
            <li><a href="Mexico" id="countries">Mexico</a></li>
            <li><a href="Nicaragua" id="countries">Nicaragua</a></li>
            <li><a href="Panama" id="countries">Panama</a></li>
            <li><a href="Saint-Kitts-and-Nevis" id="countries">Saint Kitts and Nevis</a></li>
            <li><a href="Saint-Lucia" id="countries">Saint Lucia</a></li>
            <li><a href="Saint-Vincent-and-the-Grenadines" id="countries">Saint Vincent and the Grenadines</a></li>
            <li><a href="Trinidad-and-Tobago" id="countries">Trinidad and Tobago</a></li>
            <li><a href="United-States" id="countries">United States</a></li>
          </ul>
        </li>
        <li><a href="Oceania">OCEANIA</a>
          <ul>
            <li><a href="Australia" id="countries">Australia</a></li>
            <li><a href="Fiji" id="countries">Fiji</a></li>
            <li><a href="Kiribati" id="countries">Kiribati</a></li>
            <li><a href="Marshall-Islands" id="countries">Marshall Islands</a></li>
            <li><a href="Micronesia" id="countries">Micronesia</a></li>
            <li><a href="Naura" id="countries">Naura</a></li>
            <li><a href="New-Zealand" id="countries">New Zealand</a></li>
            <li><a href="Palau" id="countries">Palau</a></li>
            <li><a href="Papua-New-Guinea" id="countries">Papua New Guinea</a></li>
            <li><a href="Samoa" id="countries">Samoa</a></li>
            <li><a href="Solomon-Islands" id="countries">Solomon Islands</a></li>
            <li><a href="Tonga" id="countries">Tonga</a></li>
            <li><a href="Tuvalu" id="countries">Tuvalu</a></li>
            <li><a href="Vanuatu" id="countries">Vanuatu</a></li>
          </ul>
        </li>
        <li><a href="South-America">SOUTH AMERICA</a>
          <ul>
            <li><a href="Argentina" id="countries">Argentina</a></li>
            <li><a href="Bolivia" id="countries">Bolivia</a></li>
            <li><a href="Brazil" id="countries">Brazil</a></li>
            <li><a href="Chile" id="countries">Chile</a></li>
            <li><a href="Colombia" id="countries">Colombia</a></li>
            <li><a href="Ecuador" id="countries">Ecuador</a></li>
            <li><a href="Guyana" id="countries">Guyana</a></li>
            <li><a href="Paraguay" id="countries">Paraguay</a></li>
            <li><a href="Peru" id="countries">Peru</a></li>
            <li><a href="Suriname" id="countries">Suriname</a></li>
            <li><a href="Uruguay" id="countries">Uruguay</a></li>
            <li><a href="Venezuela" id="countries">Venezuela</a></li>
          </ul>
        </li>
      </ul>
      <ul id ="my_menu" class="bottom_nav_link">
        <li><a href="contact">Contact</a></li>
        <li><a href="about">About</a></li>
      </ul>
    </div>
  </div>

  <div id="main">
