<% include partials/header %>
<% include partials/navbar %>

<div id="main">
  <!-- how do I get a 404 to render? -->
  <div class="content pure-1-3">
    <h2 class="continent"> About Me </h2>
    <h3 class= "country"></h3>
  </div>

<% include partials/footer %>