<% include partials/header %>
<% include partials/navbar %>

<div id="main">
  <!-- how do I get a 404 to render? -->
  <div class="content pure-1-3">
    <h2 class="continent"> Why Flags? </h2>
    <h3 class= "country">Flags contain history. <br><br>Staring at the American Flag, undering the symbolism behind it, grasping the power behind a simple (& usually) <br>rectangular piece of cloth.<br><br>
    That's the beauty behind a flag to me <br> & one of the reasons I love vexillology.</h3>
  </div>

<% include partials/footer %>