<% include partials/header %>
<% include partials/navbar %>

<h1 class="title1">VEXILLOLOGY</h1>
<h3 class="subtitle1">The love and study of flags.</h3>
<form class="searchbar">
    <input type="text" placeholder="Search for a country" id="search">
</form>

<% include partials/footer %>