<% include partials/header %>
<% include partials/navbar %>


<div id="main">
  <h1 class="title">VEXILLOLOGY</h1>
  <h3 class="subtitle">The love and study of flags.</h3>
  <h4 class="subtitle">Discover a world of knowledge. <br> Select a continent & country on the left.</h4>
<!--   <form class="searchbar">
      <input type="text" placeholder="Search for a country" id="search">
  </form> -->

<% include partials/footer %>