<% include partials/header %>
<% include partials/navbar %>

<h1 class="title">VEXILOLOGY.</h1>
<h3 class="subtitle">The love and study of flags.</h3>

  <form action="/show" method="post">
    <input name="flag[country]" placeholder="country" value="<%=country%>"><br>
    <input name="flag[capital]" placeholder="capital" value="<%=capital%>"><br>
    <input name="flag[continent]" placeholder="continent" value="<%=continent%>"><br>
   <textarea rows="4" cols="100" name="flag[info]" placeholder="info" value="<%=info%>"></textarea><br>
    <input type="submit" value="Save">
  </form>

<a href="/show">Show</a>

  <% include partials/footer %>