<% include partials/header %>
<% include partials/navbar %>

<% allFlags.forEach(function(flag){ %>
  <div class= "content"> 
    <h1 class= "title"><%= flag.name %></h1>
    <h4 class= "subtitle"><%= flag.capital%></h4>
    <img src="/images/<%=flag.name %>.png" alt="">
    <p class= "info"><%= flag.info %></p> 
<% }); %>

<a href="/new">New</a>

<% include partials/footer %>