    <li><a href="Afghanistan" id="countries">Afghanistan</a></li>
    <li><a href="Bahrain" id="countries">Bahrain</a></li>
    <li><a href="Bangladesh" id="countries">Bangladesh</a></li>
    <li><a href="Bhutan" id="countries">Bhutan</a></li>
    <li><a href="Brunei" id="countries">Brunei</a></li>
    <li><a href="Cambodia" id="countries">Cambodia</a></li>
    <li><a href="China" id="countries">China</a></li>
    <li><a href="East-Timor" id="countries">East Timor</a></li>
    <li><a href="India" id="countries">India</a></li>
    <li><a href="Indonesia" id="countries">Indonesia</a></li>
    <li><a href="Iran" id="countries">Iran</a></li>
    <li><a href="Iraq" id="countries">Iraq</a></li>
    <li><a href="Israel" id="countries">Israel</a></li>
    <li><a href="Japan" id="countries">Japan</a></li>
    <li><a href="Jordan" id="countries">Jordan</a></li>
    <li><a href="Kazakhstan" id="countries">Kazakhstan</a></li>
    <li><a href="Kuwait" id="countries">Kuwait</a></li>
    <li><a href="Krygyzstan" id="countries">Krygyzstan</a></li>
    <li><a href="Laos" id="countries">Laos</a></li>
    <li><a href="Lebanon" id="countries">Lebanon</a></li>
    <li><a href="Malaysia" id="countries">Malaysia</a></li>
    <li><a href="Maldives" id="countries">Maldives</a></li>
    <li><a href="Mongolia" id="countries">Mongolia</a></li>
    <li><a href="Myanmar" id="countries">Myanmar</a></li>
    <li><a href="Nepal" id="countries">Nepal</a></li>
    <li><a href="North-Korea" id="countries">North Korea</a></li>
    <li><a href="Oman" id="countries">Oman</a></li>
    <li><a href="Pakistan" id="countries">Pakistan</a></li>
    <li><a href="Phillipines" id="countries">Phillipines</a></li>
    <li><a href="Qatar" id="countries">Qatar</a></li>
    <li><a href="Russia" id="countries">Russia</a></li>
    <li><a href="Saudi-Arabia" id="countries">Saudi Arabia</a></li>
    <li><a href="Singapore" id="countries">Singapore</a></li>
    <li><a href="South-Korea" id="countries">South Korea</a></li>
    <li><a href="Sri-Lanka" id="countries">Sri Lanka</a></li>
    <li><a href="Syria" id="countries">Syria</a></li>
    <li><a href="Tajikistan" id="countries">Tajikistan</a></li>
    <li><a href="Thailand" id="countries">Thailand</a></li>
    <li><a href="Turkey" id="countries">Turkey</a></li>
    <li><a href="Turkmenistan" id="countries">Turkmenistan</a></li>
    <li><a href="United-Arab-Emirates" id="countries">United Arab Emirates</a></li>
    <li><a href="Uzbekistan" id="countries">Uzbekistan</a></li>
    <li><a href="Vietnam" id="countries">Vietnam</a></li>
    <li><a href="Yemen" id="countries">Yemen</a></li>