<% include ../../partials/header %>
<% include ../../partials/navbar %>

<h1 class="title">Africa</h1>
<h3 class="subtitle">The mother continent</h3>

      <li><a href="Algeria">Algeria</a></li>
      <li><a href="Angola">Angola</a></li>
      <li><a href="Benin">Benin</a></li>
      <li><a href="Botswana">Botswana</a></li>
      <li><a href="Burkina">Burkina</a></li>
      <li><a href="Burundi">Burundi</a></li>
      <li><a href="Cameroon">Cameroon</a></li>
      <li><a href="Cape-Verde">Cape Verde</a></li>
      <li><a href="Central-African-Republic">Central African Republic</a></li>
      <li><a href="Chad">Chad</a></li>
      <li><a href="Comoros">Comoros</a></li>
      <li><a href="Congo">Congo</a></li>
      <li><a href="Democratic-Republic-Of-Congo">Democratic Republic of Congo</a></li>
      <li><a href="Djibouti">Djibouti</a></li>
      <li><a href="Egypt">Egypt</a></li>
      <li><a href="Equatorial-Guinea">Equatorial Guinea</a></li>
      <li><a href="Eritrea">Eritrea</a></li>
      <li><a href="Ethiopia">Ethiopia</a></li>
      <li><a href="Gabon">Gabon</a></li>
      <li><a href="Gambia">Gambia</a></li>
      <li><a href="Ghana">Ghana</a></li>
      <li><a href="Guinea">Guinea</a></li>
      <li><a href="Guinea-Bissau">Guinea-Bissau</a></li>
      <li><a href="Ivory-Coast">Ivory Coast</a></li>
      <li><a href="Kenya">Kenya</a></li>
      <li><a href="Lesotho">Lesotho</a></li>
      <li><a href="Liberia">Liberia</a></li>
      <li><a href="Libya">Libya</a></li>
      <li><a href="Madagascar">Madagascar</a></li>
      <li><a href="Malawi">Malawi</a></li>
      <li><a href="Mali">Mali</a></li>
      <li><a href="Mauritania">Mauritania</a></li>
      <li><a href="Mauritius">Mauritius</a></li>
      <li><a href="Morocco">Morocco</a></li>
      <li><a href="Mozambique">Mozambique</a></li>
      <li><a href="Namibia">Namibia</a></li>
      <li><a href="Niger">Niger</a></li>
      <li><a href="Nigeria">Nigeria</a></li>
      <li><a href="Rwanda">Rwanda</a></li>
      <li><a href="Sao-Tome-And-Principe">São Tomé and Príncipe</a></li>
      <li><a href="Senegal">Senegal</a></li>
      <li><a href="Seychelles">Seychelles</a></li>
      <li><a href="Sierra-Leone">Sierra Leone</a></li>
      <li><a href="Somalia">Somalia</a></li>
      <li><a href="South-Africa">South Africa</a></li>
      <li><a href="South-Sudan">South Sudan</a></li>
      <li><a href="Sudan">Sudan</a></li>
      <li><a href="Swaziland">Swaziland</a></li>
      <li><a href="Tanzania">Tanzania</a></li>
      <li><a href="Togo">Togo</a></li>
      <li><a href="Tunisia">Tunisia</a></li>
      <li><a href="Uganda">Uganda</a></li>
      <li><a href="Zambia">Zambia</a></li>
      <li><a href="Zimbabwe">Zimbabwe</a></li>

<% include ../../partials/footer %>