<% include ../../partials/header %>
<% include ../../partials/navbar %>


<img src="/images/algeria.png" alt="">

<h1 class="title" style="margin-top: 10px">ALGERIA</h1>
<h3 class="subtitle">Algiers</h3>
<hr>
    <p class= "info">The flag's design is derived from the standard of Emir Abdel Kadir in the 19th century which consisted of two equal vertical bands, green and white, as well as being inspired from the flag of the Algerian Regency from the 16th to the 19th century, which consisted of a white crescent and star on a red background (the same as the modern flag of Turkey; the Algerian Regency was an autonomous vassal of the Ottoman Empire). However, for the most part its history is unclear. <br><br>It is also believed to be based on a flag created in 1928 by Messali Hadj, a nationalist leader. White, green and red, along with the star and crescent have been used historically in Islamic countries. The white color represents peace; the green represents Islam; the red, the blood of those killed fighting for independence in the Algerian War (1954 to 1962) and the star and crescent represent Islam.</p> 

<% include ../../partials/footer %>
<script>
var t = new Trianglify({y_gradient: "#961E00"});
var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);
document.body.setAttribute('style', 'background-image: '+pattern.dataUrl);
</script>