<% include ../../partials/header %>
<% include ../../partials/navbar %>


<img src="/images/Uganda.png" alt="">

<h1 class="title" style="margin-top: 10px">UGANDA</h1>
<h3 class="subtitle">Kampala</h3>

    <p class= "info">The flag of Uganda was adopted on 9 October 1962, the date that Uganda became independent from the United Kingdom. It consists of six equal horizontal bands of black (top), yellow, red, black, yellow, and red (bottom); a white disc is superimposed at the centre and depicts the national symbol, a grey crowned crane, facing the hoist side. The three colours are representative of African peoples (black), Africa's sunshine (yellow), and African brotherhood (red being the colour of blood, through which all Africans are connected).<br><br> The grey crowned crane is fabled for its gentle nature and was also the military badge of Ugandan soldiers during British rule. The raised leg of the crane symbolizes the forward movement of the country. During the colonial rule the Britishers selected the flag of Buganda for using on British Blue ensign. The crane was added in the center to avoid the flag's association with a particular geographic region.</p> 

<% include ../../partials/footer %>
<script>
var t = new Trianglify({y_gradient: "#961E00"});
var pattern = t.generate(document.body.clientWidth, document.body.clientHeight);
document.body.setAttribute('style', 'background-image: '+pattern.dataUrl);
</script>